body{
    font-family: fantasy;
    text-align: center;

}
#submitBtn{
    font-family: fantasy;
}
table{

    width: 70%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
th{
    color: white;
    font-family: fantasy;
    background-color: #0000a3;
    text-align: center;
    height: 40px; 
}
tbody tr:nth-child(odd) {
    background-color:#eb84c9;
}

tbody tr:nth-child(even) {
    background-color: #89f2dd;
}
td{
    height: 30px;
}
.completed{
    color: rgb(114, 112, 112);
    text-decoration: line-through;
    padding-left: 10px;
    font-family: fantasy;
}
.incomplete{
    color: #0000a3;
    font-family: fantasy;
    padding-left: 10px;
}
.btnComplete{
    background-color: rgb(17, 217, 17);
    border-radius: 7px;
    border-color: yellowgreen;
    margin: auto;
}
.btnIncomplete{
    background-color: rgb(249, 235, 87);
    border-radius: 7px;
    border-color: rgb(223, 207, 85);
    width: 23px;
    margin: auto;
}
.btnDelete{
    background-color: rgb(241, 184, 184);
    border-radius: 7px;
    border-color: red;
    text-align: center;
}



